.container {
  display: flex;
  align-items: center;
}

.side-bar {
  width: 20vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.calendar {
  width: 80vw;
  height: 100vh;

}